.main {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  background-color: #eddedb;
}

@media print {
  .main {
    width: 210mm;
  }

  .canvas {
    width: 210mm;
    margin-left: 0;
  }
}

#save,
#load,
#deleteSaved,
#clearField {
  position: absolute;
  top: 0;
  left: 0;
}

#load {
  left: 100px;
}

#deleteSaved {
  left: 200px;
}

#clearField {
  left: 400px;
}
